USE [master]
GO
/****** Object:  Database [Wedding_House_DB]    Script Date: 6/12/2026 9:31:58 AM ******/
CREATE DATABASE [Wedding_House_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wedding_House_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Wedding_House_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Wedding_House_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Wedding_House_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wedding_House_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wedding_House_DB]
GO
/****** Object:  Table [dbo].[BAOCAODOANHSO]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODOANHSO](
	[MaBaoCaoDoanhSo] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [nvarchar](20) NOT NULL,
	[TongDoanhThu] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoDoanhSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NOT NULL,
	[Gio] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBCDS]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBCDS](
	[MaChiTietBCDS] [int] IDENTITY(1,1) NOT NULL,
	[MaBaoCaoDoanhSo] [int] NOT NULL,
	[Ngay] [date] NOT NULL,
	[SoLuongTiecCuoi] [int] NULL,
	[DoanhThu] [decimal](18, 2) NULL,
	[TiLe] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietBCDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATMON]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATMON](
	[MaCTDatMon] [int] IDENTITY(1,1) NOT NULL,
	[MaDatTiecCuoi] [int] NOT NULL,
	[MaMonAn] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDatMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[MaCTDV] [int] IDENTITY(1,1) NOT NULL,
	[MaDatTiecCuoi] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonGiaMacDinh] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaDatTiecCuoi] [int] NOT NULL,
	[TongTienBan] [decimal](18, 2) NULL,
	[TongTienDichVu] [decimal](18, 2) NULL,
	[TongTienHoaDon] [decimal](18, 2) NULL,
	[TienDatCoc] [decimal](18, 2) NULL,
	[TienConLai] [decimal](18, 2) NULL,
	[TienPhat] [decimal](18, 2) NULL,
	[NgayLapHoaDon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](15) NULL,
	[MaTaiKhoan] [int] NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](100) NOT NULL,
	[MaTaiKhoan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaDatTiecCuoi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANH]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANH](
	[MaSanh] [int] IDENTITY(1,1) NOT NULL,
	[TenSanh] [nvarchar](100) NOT NULL,
	[LoaiSanh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[GiaThue] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](500) NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[IsConfirmed] [bit] NULL,
	[OtpCode] [varchar](6) NULL,
	[OtpExpired] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongBanToiDa] [int] NULL,
	[DonGiaBanToiThieu] [decimal](18, 2) NULL,
	[LoaiSanh] [nvarchar](50) NULL,
	[SoLuongMonAn] [int] NULL,
	[SoLuongDichVu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIECCUOI]    Script Date: 6/12/2026 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIECCUOI](
	[MaDatTiecCuoi] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[TenChuRe] [nvarchar](100) NOT NULL,
	[TenCoDau] [nvarchar](100) NOT NULL,
	[NgayDaiTiec] [date] NOT NULL,
	[MaCa] [int] NOT NULL,
	[MaSanh] [int] NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[SoBanDuTru] [int] NULL,
	[TienDatCoc] [decimal](18, 2) NULL,
	[NgayLap] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatTiecCuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CA] ON 

INSERT [dbo].[CA] ([MaCa], [TenCa], [Gio]) VALUES (1, N'Buổi Trưa', NULL)
INSERT [dbo].[CA] ([MaCa], [TenCa], [Gio]) VALUES (2, N'Buổi Tối', NULL)
SET IDENTITY_INSERT [dbo].[CA] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [DonGiaMacDinh]) VALUES (1, N'Trang trí cổng hoa', CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [DonGiaMacDinh]) VALUES (2, N'Trang trí sân khấu', CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [DonGiaMacDinh]) VALUES (3, N'Trang trí bàn Gallery', CAST(2500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTen], [DienThoai], [MaTaiKhoan], [Email]) VALUES (2, N'Trần Duy', N'0329393939', 3, NULL)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTen], [DienThoai], [MaTaiKhoan], [Email]) VALUES (3, N'Trần Hoàng Duy', N'0329393939', 4, N'hoangduy253cuxaduong@gmail.com')
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [HoTen], [DienThoai], [MaTaiKhoan], [Email]) VALUES (9, N'Trần Huy Bảo', N'0367167676', 11, N'tsukihirohitomi09@gmail.com')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[MONAN] ON 

INSERT [dbo].[MONAN] ([MaMonAn], [TenMonAn]) VALUES (96, N'Bánh Mousse Chocolate Valrhona')
INSERT [dbo].[MONAN] ([MaMonAn], [TenMonAn]) VALUES (100, N'Bánh Pudding Xoài Cát Hòa Lộc')
INSERT [dbo].[MONAN] ([MaMonAn], [TenMonAn]) VALUES (102, N'Bánh Tart Trứng Hồng Kông Da Giòn')
GO
SET IDENTITY_INSERT [dbo].[MONAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SANH] ON 

INSERT [dbo].[SANH] ([MaSanh], [TenSanh], [LoaiSanh], [GhiChu], [GiaThue]) VALUES (1, N'Sảnh Diamond', N'A', N'Không gian đại tiệc hoàng gia, đẳng cấp VVIP với tiện nghi hoàn hảo', CAST(45000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SANH] ([MaSanh], [TenSanh], [LoaiSanh], [GhiChu], [GiaThue]) VALUES (2, N'Sảnh Ruby', N'B', N'Phong cách ấm cúng, tinh tế, lựa chọn hoàn hảo cao cấp', CAST(28000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SANH] ([MaSanh], [TenSanh], [LoaiSanh], [GhiChu], [GiaThue]) VALUES (3, N'Sảnh Emerald', N'C', N'Không gian lãng mạn ngập tràn sắc xanh cổ tích chưa từng thấy ở đâu khác, lãng mạn và nên thơ', CAST(20000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SANH] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [IsConfirmed], [OtpCode], [OtpExpired]) VALUES (1, N'aduanhduy', N'aduanhduydeptrai09', N'Admin', NULL, NULL, NULL)
INSERT [dbo].[TAIKHOAN] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [IsConfirmed], [OtpCode], [OtpExpired]) VALUES (3, N'aduanhduy09', N'$2a$11$mMO9Cd83e0KFv1diAIEV.eHixzfzEbBzfWfRfnEgQfW3OrwsfuEBm', N'KhachHang', NULL, NULL, NULL)
INSERT [dbo].[TAIKHOAN] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [IsConfirmed], [OtpCode], [OtpExpired]) VALUES (4, N'duy_otp_test', N'$2a$11$NDam1wWAsvUN.iKLCGVdB.XCD4ajp5mjWf5eYo3jS21vfaWelxg/e', N'KhachHang', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THAMSO] ON 

INSERT [dbo].[THAMSO] ([Id], [SoLuongBanToiDa], [DonGiaBanToiThieu], [LoaiSanh], [SoLuongMonAn], [SoLuongDichVu]) VALUES (1, 50, CAST(1000000.00 AS Decimal(18, 2)), N'A', 5, 5)
INSERT [dbo].[THAMSO] ([Id], [SoLuongBanToiDa], [DonGiaBanToiThieu], [LoaiSanh], [SoLuongMonAn], [SoLuongDichVu]) VALUES (2, 40, CAST(1100000.00 AS Decimal(18, 2)), N'B', 5, 5)
INSERT [dbo].[THAMSO] ([Id], [SoLuongBanToiDa], [DonGiaBanToiThieu], [LoaiSanh], [SoLuongMonAn], [SoLuongDichVu]) VALUES (3, 30, CAST(1200000.00 AS Decimal(18, 2)), N'C', 5, 5)
SET IDENTITY_INSERT [dbo].[THAMSO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BAOCAODO__2DD4F54B502672C3]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[BAOCAODOANHSO] ADD UNIQUE NONCLUSTERED 
(
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA__4CF92211980001E6]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[CA] ADD UNIQUE NONCLUSTERED 
(
	[TenCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CHITIETB__4B1DB0F821C88831]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[CHITIETBCDS] ADD UNIQUE NONCLUSTERED 
(
	[MaBaoCaoDoanhSo] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CHITIETD__D097B593EB2F5333]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[CHITIETDATMON] ADD UNIQUE NONCLUSTERED 
(
	[MaDatTiecCuoi] ASC,
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CHITIETD__7788A91938A17886]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[CHITIETDICHVU] ADD UNIQUE NONCLUSTERED 
(
	[MaDatTiecCuoi] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DICHVU__A77D068921134544]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[DICHVU] ADD UNIQUE NONCLUSTERED 
(
	[TenDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HOADON__9B86C4F148FDFA98]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[HOADON] ADD UNIQUE NONCLUSTERED 
(
	[MaDatTiecCuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__KHACHHAN__AD7C65287182B141]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_Email]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_KhachHang_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MONAN__987DD97AC6EF6DB0]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[MONAN] ADD UNIQUE NONCLUSTERED 
(
	[TenMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__NHANVIEN__AD7C652826A2B538]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PHANCONG__6E0AA609570D3ECF]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[PHANCONG] ADD UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC,
	[MaDatTiecCuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SANH__CA6B2CA03FB269A6]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[SANH] ADD UNIQUE NONCLUSTERED 
(
	[TenSanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__55F68FC0A1488E8D]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LichDatSanh]    Script Date: 6/12/2026 9:31:59 AM ******/
ALTER TABLE [dbo].[TIECCUOI] ADD  CONSTRAINT [UQ_LichDatSanh] UNIQUE NONCLUSTERED 
(
	[NgayDaiTiec] ASC,
	[MaCa] ASC,
	[MaSanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAOCAODOANHSO] ADD  DEFAULT ((0)) FOR [TongDoanhThu]
GO
ALTER TABLE [dbo].[CHITIETBCDS] ADD  DEFAULT ((0)) FOR [SoLuongTiecCuoi]
GO
ALTER TABLE [dbo].[CHITIETBCDS] ADD  DEFAULT ((0)) FOR [DoanhThu]
GO
ALTER TABLE [dbo].[CHITIETDICHVU] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTienBan]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTienDichVu]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTienHoaDon]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TienConLai]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TienPhat]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayLapHoaDon]
GO
ALTER TABLE [dbo].[SANH] ADD  DEFAULT ((0)) FOR [GiaThue]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[TIECCUOI] ADD  DEFAULT ((0)) FOR [SoBanDuTru]
GO
ALTER TABLE [dbo].[TIECCUOI] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[TIECCUOI] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[CHITIETBCDS]  WITH CHECK ADD FOREIGN KEY([MaBaoCaoDoanhSo])
REFERENCES [dbo].[BAOCAODOANHSO] ([MaBaoCaoDoanhSo])
GO
ALTER TABLE [dbo].[CHITIETDATMON]  WITH CHECK ADD FOREIGN KEY([MaDatTiecCuoi])
REFERENCES [dbo].[TIECCUOI] ([MaDatTiecCuoi])
GO
ALTER TABLE [dbo].[CHITIETDATMON]  WITH CHECK ADD FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MONAN] ([MaMonAn])
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD FOREIGN KEY([MaDatTiecCuoi])
REFERENCES [dbo].[TIECCUOI] ([MaDatTiecCuoi])
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaDatTiecCuoi])
REFERENCES [dbo].[TIECCUOI] ([MaDatTiecCuoi])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD FOREIGN KEY([MaDatTiecCuoi])
REFERENCES [dbo].[TIECCUOI] ([MaDatTiecCuoi])
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA] ([MaCa])
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD FOREIGN KEY([MaSanh])
REFERENCES [dbo].[SANH] ([MaSanh])
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongDV] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [CK_SoLuongDV]
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD  CONSTRAINT [CK_SoBanDuTru] CHECK  (([SoBanDuTru]>=(0)))
GO
ALTER TABLE [dbo].[TIECCUOI] CHECK CONSTRAINT [CK_SoBanDuTru]
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongBan] CHECK  (([SoLuongBan]>(0)))
GO
ALTER TABLE [dbo].[TIECCUOI] CHECK CONSTRAINT [CK_SoLuongBan]
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD  CONSTRAINT [CK_TienDatCoc] CHECK  (([TienDatCoc]>=(0)))
GO
ALTER TABLE [dbo].[TIECCUOI] CHECK CONSTRAINT [CK_TienDatCoc]
GO
USE [master]
GO
